*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.section{
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #646464;
    position: relative;
    padding-top: 1px;
}
.section .img-res-left{
    width:40%;
    max-width: 400px;
    margin-right:4%; 
}
.section .img-res-right{
    width:40%;
    max-width: 400px;
    margin-left:4%; 
}
.text-grd{
        font-size: 20px;
}
.text-med{
        font-size: 16px;
}
.text-peq{
        font-size: 14px;
}
.section h3{
    text-align: right;
    font-family: 'Bitter', serif;
    font-size: 28px;
    margin-right: 5%;
    margin-bottom: 4%;
}
.section h4{
    text-align: left;
    font-family: 'Bitter', serif;
    font-size: 24px;
}
#container,.sections{
    height: 100%;
    width: 100%;
    position: relative;
}
.bg-1{
    background:  url(../imagenes/bg-1.png) repeat;
}
.bg-2{
    background:  url(../imagenes/bg-2.png) repeat;
}
.bg-3{
    background:  rgba(170,170,170,.4) url(../imagenes/bg-3.png) repeat;
}
.bg-4{
    background:  url(../imagenes/bg-4.png) repeat;
}
.bg-5{
    background:  url(../imagenes/bg-5.png) repeat;
}
.section-1{
    /*background-color: #ffffff;*/
}
.section-2{
/*	background-color: #d1d1d1;*/
}
.section-3{
/*	background-color: #000000;*/
}
.section-4{
    /*background-color: #CC0000;*/
}
.insection{
    height: 100%;
    text-align: justify;
}
.insection-1{

}
.insection-2{

}
.insection-3{

}
.control-prev{
    color: #606060;
    font-size: 45px;
    position: fixed;
    top:150%;
    left: 50px;
    cursor: pointer;
}
.control-next{
    color: #606060;
    font-size: 45px;
    position: fixed;
    top: 150%;
    right: 50px;
    cursor: pointer;
}
.horizontal{
    width: 82px;
    position:fixed;
    list-style: none;
    margin:auto;
    left:0;
    right:0;
    bottom: 15px;
}
.horizontal > li{
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fff;
    margin: 0px 10px 0 0;
    float: left;
}
.horizontal > li.active{
    width: 14px;
    height: 14px;
    border: 2px solid #FFFE00;
    background: none;
    margin-top: -5px;
}

.vertical{
    position:fixed;
    list-style: none;
    right: 10px;
    top: 50%;
}
.vertical > li{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #6d6d6d;
    margin: 0 0 10px 5px;
}
.vertical > li.active{
    width: 16px;
    height: 16px;
    border: 2px solid #0AA5DE;
    background: none;
    margin-left: 3px;
}
@media (min-width: 1282px) {
    .section h3{
        font-size: 30px;
    }
    .section h4{
        font-size: 26px;
    }
    .text-grd{
            font-size: 24px;
    }
    .text-med{
            font-size: 20px;
    }
    .text-peq{
            font-size: 18px;
    }
}
@media (max-width: 992px) {
    .section h3{
        font-size: 24px;
    }
    .section h4{
        font-size: 20px;
    }
    .text-grd{
            font-size: 18px;
    }
    .text-med{
            font-size: 14px;
    }
    .text-peq{
            font-size: 12px;
    }
}

@media (max-width: 599px) {
        .section h3{
        font-size: 14px;
    }
    .section h4{
        font-size: 12px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .text-grd{
            font-size: 11px;
    }
    .text-med{
            font-size: 11px;
    }
    .text-peq{
            font-size: 10px;
    }
}
