@charset "utf-8";
/* CSS Document */
@font-face {
font-family: "Sansation";
src: url("fonts/Sansation-Regular.ttf");
}
html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.content{
    width: 100%;
    /*height: 100%;*/
	background: url(../imagenes/bg-1.png) repeat;
}
footer{
    /*font-family: "Sansation";*/
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 800;
    color: #545454;
    /*background: rgba(255,255,255,.9);*/
    clear: both;
    display: block;
    height: auto;
    line-height: 40px;
    padding: 20px;
    position: relative;
    z-index: 1;
	margin-top: 1%;
}
.footer-link, .footer-link:hover{
    color: #23527c;
    text-decoration: none;
}
.slogan{
    color: #000;
    text-align: left;
    font-size: 18px;
    font-weight: normal;
}
.copy{
    color: #000;
    font-size: 12px;
    font-weight: normal;
}
footer .tit-secc{
    border-bottom: 2px solid #0AA5DE;
}
a {
    color: #09f;
}
a:hover {
    text-decoration: none;
}
#back_to_camera {
    background: rgba(0,41,87,1);
    clear: both;
    display: block;
    /*height: 80px;*/
    line-height: 40px;
    padding: 10px 10px 0px 10px;
    position: relative;
    z-index: 1;
}

.fluid_container {
    /*height: 100%;
    position: fixed;
    top: 0;
	right: 0;
	left: 0;
	bottom: 0;
    z-index: 0;*/
	margin: 0 auto;
	width: 100%;
	padding: 1%;
	background: #FFF;
}
#camera_wrap_4 {
	width: 100%;
    height: 70vh;
	margin: 0 auto;
    margin-bottom: 0!important;
/*    position: fixed;
    top: 0;
	right: 0;
	left: 0;
	bottom: 0;*/
}
.camera_bar {
    z-index: 2;
}
.camera_thumbs {
    margin-top: -100px;
    position: relative;
    z-index: 1;
}
.camera_thumbs_cont {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.camera_overlayer {
    opacity: .1;
}
.noticias{
	float: left;
	width: 344px;
	height: 60vh;
	background: rgba(0,0,0,.7);
	opacity: 0.95;
	margin-top: -65vh;
	/*padding-top: 203px;*/
	overflow: hidden;
}

.noticias a{
	text-decoration: none;
	color: #FFF;
}
.noticias a:hover {
	text-decoration: none;
	color: #FFF;
}
.tit-not{
	color: #FFF;
	text-align: center;
}

@media (max-width: 1280px){
    footer{
        font-size: 11px;
    }
}

@media (max-width: 600px){
	.noticias{
		font-size: 11px;
		width: 100%;
		height: 60vh;
		background: rgba(0,0,0,.7);
		opacity: 0.95;
		padding-top: 203px;
		display: inline-block;
		margin: 0;
		overflow: hidden;
	}
}
